body {
    background-image: url("https://yt3.ggpht.com/a-/ACSszfHqqaGuOVJo8v-fybrbQeQagId1znoxw51JnQ=s900-mo-c-c0xffffffff-rj-k-no")
}
* {
    font-family: fantasy;
}
h1 {
    font-size: 100px;
}
.button {
    position: relative;
    top: 0;
    margin-top: 0;
    margin-bottom: 10px;
    box-shadow: 0 10px 0 0 #39843d;
    display: inline-block;
    background: #4caf50;
    color: white;
    padding: 0.5em 1em;
    border: 0;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 15px;
    text-decoration: none;
    width: 100px;
    height: 50px;
    font-size:30px;
    font-weight: bold;
    margin: 50px;
}
.button:active {
    box-shadow: none;
    top: 10px;
    margin-bottom: 0;
}
.button:hover {
    opacity: 1;
}
.button:active,
.button:focus {
    outline: 0;
}
div {
    font-size: 50px;
}
.number {
    width: 70px;
    height: 70px;
    background-color: #4caf50;
    border-radius: 100%;
    text-align: center;
    border: 5px solid #39843d;
    color: white;
    text-decoration: none;
}
.fake {
    width: 70px;
    height: 70px;
    background-color: #4caf50;
    border-radius: 100%;
    text-align: center;
    border: 5px solid #39843d;
}
#fake {
    color: white;
    text-decoration: none;
    cursor: default;
}
#green {
    color: #4caf50;
}
.green {
    text-decoration: none;
    color: #4caf50;
    cursor: default;
}
.invisnum {
    color: #f0f0f0;
    text-decoration: none;
    cursor: default;
}
.invisnum:hover {
    color: #4caf50;
}
.hidden {
    font-size: 250px;
    text-decoration: none;
    margin-left: 1000px;
    color: white;
}
.hidden:hover {
    color: #4caf50;
}
img {
    border: 3px solid;
}
.fail {
    font-size: 25px;
}